@{
    ViewData["Title"] = "Početna stranica";
}

<h3 class="text-info">
    Dobrodošli na našu stranicu!
    
</h3>

<div>Trenutno ste na glavnoj stranici, koja sadrži linkove na pojedinačne stranice članova ekipe. Pod imenom svakog člana nalaze se njihove vlastite stranice.</div>
