
<ul class="nav navbar-nav">

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">
            Dora Horvat
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Ponuditelj">
                    Ponuditelji
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Konzorcij">
                    Konzorciji
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="KontaktPonuditelj">
                    Kontakti ponuditelja
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="KontaktKonzorcij">
                    Kontakti konzorcija
                </a>
            </li>

            <li>
                <hr />
            </li>

            <li>
                <a class="dropdown-item"
                   runat="server" href="~/ponuditelji.html">
                    Ponuditelj (jTable)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   runat="server" href="~/docs/index.html">
                    Ponuditelj (Swagger CRUD)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Report">
                    JTP PDF izvještaj za 'Ponuditelj'
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="ViewLog">
                    Pregled log datoteka
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">
            Marija Danek
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Naručitelj">
                    Naručitelji
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="PlanNabave">
                    Planovi nabave
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Natječaj">
                    Natječaji
                </a>
            </li>
            <li>
                <hr />
            </li>

            <li>
                <a class="dropdown-item"
                   runat="server" href="~/naručitelji.html">
                    Naručitelj (jTable)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="~/docs/index.html">
                    Naručitelj (Swagger CRUD)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="NaručiteljiPdf">
                    JTP PDF izvještaj za 'Naručitelj'
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="ViewLog">
                    Pregled log datoteka
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">
            Tamara Lužija
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Zaposlenik">
                    Zaposlenici
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="ZaposlenikPrilog">
                    Prilozi zaposlenika
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="VrstaKompetencije">
                    Kompetencije
                </a>
            </li>

            <li>
                <hr />
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Zaposlenik">
                    Zaposlenici (MD)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   runat="server" href="~/kompetencije.html">
                    Kompetencije (jTable)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   runat="server" href="~/docs/index.html">
                    Kompetencije (Swagger CRUD)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="KompetencijePdf">
                    JTP PDF izvještaj za 'Kompetencije'
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="ViewLog">
                    Pregled log datoteka
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">
            Nino Poletan
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Ponuda">
                    
                    Ponuda
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="PonudaStavke">
                    PonudaStavke
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Dokument">
                    Dokument
                </a>
            </li>
            <li>
                <hr />
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Ponuda">    
                    Ponuda MD
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   runat="server" href="~/dokumenti.html">
                    Dokumenti (jTable)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="~/docs">
                    Dokumenti (Swagger CRUD)
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="Index" asp-controller="ReportDoc">
                    JTP PDF izvještaj za Dokument
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="ViewLog">
                    Pregled log datoteka
                </a>
            </li>
        </ul>
    </li>


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">
            Vedran Zoričić
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Troškovnik">
                    Troškovnik
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="StavkaUTroškovniku">
                    Stavke u troškovnicima
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="VrstaStavke">
                    Vrste stavki
                </a>
            </li>
            <li>
                <hr />
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Troškovnik">
                    Troškovnik MD
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   runat="server" href="~/vrsteStavki.html">
                    VrstaStavke (jTable)
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="~/docs">
                    VrstaStavke (Swagger CRUD)
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="VrsteStavkiPDF">
                    JTP PDF izvještaj za 'VrstuStavke'
                </a>
            </li>


            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="ViewLog">
                    Pregled log datoteka
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">
            Leo Li
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Ovlaštenik">
                    Ovlaštenici
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Povjerenstvo">
                    Povjerenstva
                </a>
            </li>
            <li>
                <hr />
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="Zapisnik">
                    Zapisnici (MD)
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   runat="server" href="~/ovlaštenici.html">
                    Ovlaštenik (jTable)
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   runat="server" href="~/docs/index.html">
                    Ovlaštenik (Swagger CRUD)
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="OvlaštenikPDF">
                    JTP PDF izvještaj za 'Ovlaštenik'
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-action="Index" asp-controller="ViewLog">
                    Pregled log datoteka
                </a>
            </li>
        </ul>
    </li>
</ul>

