@{
    ViewData["Title"] = "Izvještaji";
}

<h5>Izvještaj u PDF: jednostavni tablični</h5>

<ul>
    <li>
        <a target="_blank" asp-action="Ponuditelji">Popis svih ponuditelja</a>
        @*<a target="_blank" asp-action="@nameof(Firma.Mvc.Controllers.ReportController.Drzave)">Popis svih država</a>*@
        @*<a target="_blank" href="@Url.Action("Drzave")">Popis svih država</a>*@
    </li>
    
</ul>
