@{
    ViewData["Title"] = "Izvještaji";
}

<h5>Izvještaj u PDF: jednostavni tablični</h5>

<ul>
    <li>
        <a target="_blank" asp-action="Ovlaštenici">Popis svih ovlaštenika</a>

    </li>

</ul>
