@model StavkaUTroškovniku

@{
    ViewBag.Title = "Nova stavka u troškovniku";
}
<h2>Unos nove stavke u troškovniku</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    
    <div class="form-group">
        <label asp-for="NazivStavke"></label>
        <div><span asp-validation-for="NazivStavke" class="text-danger" /></div>
        <input asp-for="NazivStavke" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TraženaKoličina"></label>
        <div><span asp-validation-for="TraženaKoličina" class="text-danger" /></div>
        <input asp-for="TraženaKoličina" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdVrste"></label>
        <div><span asp-validation-for="IdVrste" class="text-danger" /></div>
        <select class="form-control" asp-for="IdVrste" asp-items="ViewBag.Vrste">
            <option selected value="" disabled>Odaberite vrstu stavke</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DodatneInformacije"></label>
        <div><span asp-validation-for="DodatneInformacije" class="text-danger" /></div>
        <input asp-for="DodatneInformacije" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>
