<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-center col-sm-4">
            <input type="hidden" name="StavkeZapisnika.Index" value="--id--" />
            <input type="hidden" name="StavkeZapisnika[--id--].idOdredba" value="--id--" />
            <input type="hidden" name="StavkeZapisnika[--id--].nazivOdredba" value="--naziv--" />
            --naziv--
        </td>
        <td class="text-center col-sm-1">
            <input name="StavkeZapisnika[--id--].cijena" class="form-control" value="--cijena--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="StavkeZapisnika[--id--].ispravnost" class="form-control" value="--ispravnost--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>
